header {
    background-color: rgb(255, 111, 59); 
    color: white;
    padding: 20px;
    text-align: center;
}

nav{
    padding: 3px;
    text-align: center;
    color: blanchedalmond;
    background-color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img {
    display: block;
    margin: auto;
    height: 15%;
    width: 15%;
    border-radius: 70%;
  }

.logo{
        display: flex;
        justify-content: center;
        align-items: center;
      }

hr{
    border: solid orangered;
}      

.options{
    padding: 50px;
    max-width: 500px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
}
dl {
    margin-bottom: 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 20px;
    color: #666666;
}
.background-image{
    background-image:url('background.jpg');
    background-size: contain;
}
footer {
    background-color: #ff6347; 
    color: white;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%; 
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-size: medium;
}